[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
tiktoken = "*"
python-dotenv = "*"
wikipedia = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
